@import "./stylesheet.css";
.product-shop-container {
  background: var(--lt-brown);
}

.products-divider {
  background-color: var(--lt-tan);
  text-align: center;
  grid-area: products-divider;
}

.product-info {
  background-color: var(--dk-tan);
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
  align-content: center;
}

.product-info h2 {
  text-align: center;
}

/*imagebox goes here
.TYPE-imgbox {
  background-image: url();
  background-position: center;
  background-size: cover;
}*/

/* Form Styles */

input[type=text], select, textarea {
  padding: 20px;
  border: 1px solid var(--lt-brown);
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--lt-tan);
  color: var(--lt-brown);
  padding: 12px 20px;
  border: 1px solid var(--lt-brown);
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--lt-brown);
  color: var(--lt-tan);
  border: 1px solid var(--lt-tan);
}

/* Start of Desktop Media Querys */

@media screen and (min-width:975px) {
  .product-shop-container {
    grid-gap: 20px;
    padding: 20px;
  }
}
