@import "./stylesheet.css";
.services-container {
  background-color: var(--lt-brown);
}

.services-divider {
  background-color: var(--lt-tan);
  display: flex;
  align-content: center;
  justify-content: center;
}

.swarm-removal {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
  background-image: url(./images/beevac.jpg);
  background-size: cover;
  background-position: center;
}

.pollination {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
  background-image: url(./Images/pollination.JPG);
  background-size: cover;
  background-position: center;
}
