/* CSS Styles */

html {
  font-family: Georgia, serif;
}

/* CSS Root Variables */

:root {
  --honey: #f9c901;
  --lt-brown: #332800;
  --dk-char: #151515;
  --lt-tan: #fffae6;
  --dk-tan: #E8EC99;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Header and Navigation Styles Start Here */

header {
  background-color: var(--lt-tan);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  padding-left: 2.5em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  border: 1px solid var(--honey);
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: var(--dk-char);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.tagline {
  display: none;
}

nav {
  padding-top: 1em;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--lt-tan);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--dk-char);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--honey);
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Body Styles Start Here */

body {
  background-image: url(./Images/seamless-pattern-honeycomb.png);
  background-repeat: repeat;
  /* Add Optional Margin Here????? */
}

.btn {
  background: var(--lt-brown);
  color: var(--lt-tan);
  padding: .6rem 1.3rem;
  text-decoration: none;
  border: 1px solid var(--lt-tan);
}

img {
  max-width: 100%;
}

.body-container {
  padding-top: 8rem;
  display: grid;
  grid-gap: 20px;
  /* Add Optional Margin or Padding Here????? */
}

/* Top Container */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
}

/* Showcase */

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(./Images/honey-color.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--lt-tan);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--lt-tan);
}

/* Top Box */

.top-box {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.top-box .price {
  font-size: 1.5rem;
  font-style: italic;

}

.top-box-a {
  background-color: var(--dk-tan);
  grid-area: top-box-a;
}

.top-box-b {
  background-color: var(--lt-tan);
  grid-area: top-box-b;
}

/* Start of Desktop Media Querys */

@media screen and (min-width:925px) {
  /* Header and Nav Media Query CSS */
  .nav-toggle-label {
    display: none;
  }
  .header-container {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .logo {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .tagline {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: flex-Start;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin-left: 1.5em;
  }
  nav {
    all: unset;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    margin-left: 1.5em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--honey);
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
  /* Body-Container CSS */
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
  }
  /*End of Media Querys  */
}
