/* CSS Styles */

/* CSS Root Variables */

:root {
  --honey: #f9c901;
  --lt-brown: #332800;
  --dk-char: #151515;
  --lt-tan: #fffae6;
  --dk-tan: #E8EC99;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Navigation Styles Start Here */

header {
  background-color: var(--lt-tan);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Logo - Margin sets space around
.logo{
}
*/

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--dk-char);
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}
