@import "./stylesheet.css";
.recipes-container li {
  padding: 3px;
}

.recipes-container {
  background: var(--lt-brown);
}

.imgbox {
  padding: 7rem;
}

.recipes-divider {
  background: var(--lt-tan);
  display: flex;
  align-content: center;
  justify-content: center;
}

.cornbread-container {
  display: grid;
  grid-template-areas: 'cornbread-img''cornbread';
  grid-area: 'cornbread-container';
}

.cornbread-img {
  background: url(../Images/cornbread.jpg);
  background-position: center;
  background-size: cover;
  grid-area: cornbread-img;
}

.cornbread {
  background: var(--dk-tan);
  grid-area: cornbread;
  padding: 20px;
}

.smoothie-container {
  display: grid;
  grid-template-areas: 'smoothie-img''smoothie';
  grid-area: 'smoothie-container';
}

.smoothie-img {
  background: url(../Images/smoothie.jpg);
  background-position: left top;
  background-size: cover;
  grid-area: smoothie-img;
}

.smoothie {
  background: var(--lt-tan);
  grid-area: smoothie;
  padding: 20px;
}

.carrots-container {
  display: grid;
  grid-template-areas: 'carrots-img''carrots';
  grid-area: 'carrots-container';
}

.carrots-img {
  background: url(../Images/carrots.jpg);
  background-position: center;
  background-size: cover;
  grid-area: carrots-img;
}

.carrots {
  background: var(--dk-tan);
  grid-area: carrots;
  padding: 20px;
}

.boozy-container {
  display: grid;
  grid-template-areas: 'boozy-img''boozy';
  grid-area: 'boozy-container';
}

.boozy-img {
  background: url(../Images/boozy-drink.jpg);
  background-position: center;
  background-size: cover;
  grid-area: boozy-img;
}

.boozy {
  background: var(--lt-tan);
  grid-area: boozy;
  padding: 20px;
}

.parfait-container {
  display: grid;
  grid-template-areas: 'parfait-img''parfait';
  grid-area: 'parfait-container';
}

.parfait-img {
  background: url(../Images/parfait.jpg);
  background-position: center;
  background-size: cover;
  grid-area: parfait-img;
}

.parfait {
  background: var(--dk-tan);
  grid-area: parfait;
  padding: 20px;
}

/* Start of Tablet Media Querys */

@media screen and (min-width:600px) {
  .recipes-container {
    display: grid;
  }
  .recipes-container h2 {
    text-align: center;
  }
  .cornbread-container {
    grid-template-areas: 'cornbread-img cornbread';
  }
  .smoothie-container {
    grid-template-areas: 'smoothie smoothie-img';
  }
  .carrots-container {
    grid-template-areas: 'carrots-img carrots';
  }
  .boozy-container {
    grid-template-areas: 'boozy boozy-img';
  }
  .parfait-container {
    grid-template-areas: 'parfait-img parfait';
  }
}

@media screen and (min-width:975px) {
  .recipes-container {
    padding: 20px;
    grid-gap: 20px;
  }
  .cornbread-container {
    grid-gap: 20px;
  }
  .smoothie-container {
    grid-gap: 20px;
  }
  .carrots-container {
    grid-gap: 20px;
  }
  .boozy-container {
    grid-gap: 20px;
  }
  .parfait-container {
    grid-gap: 20px;
  }
}
