@import "./stylesheet.css";
.services-container {
  background-color: var(--lt-brown);
}

.services-divider {
  background-color: var(--lt-tan);
  display: flex;
  align-content: center;
  justify-content: center;
  grid-area: services-divider;
}

.swarm-removal {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3.5rem;
  background-image: url(../images/beevac.jpg);
  background-size: cover;
  background-position: center;
  grid-area: swarm-removal;
}

.pollination {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3.5rem;
  background-image: url(../images/pollination.JPG);
  background-size: cover;
  background-position: center;
  grid-area: pollination;
}

/* Start of Tablet Media Querys */

@media screen and (min-width:600px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'services-divider services-divider''swarm-removal pollination';
  }
}

/* Start of Desktop Media Querys */

@media screen and (min-width:975px) {
  .services-container {
    grid-gap: 20px;
    padding: 20px;
  }
  .swarm-removal {
    grid-gap: 20px;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .pollination {
    grid-gap: 20px;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
