@import "./stylesheet.css";
@import "product-shop-stylesheet.css";

.product-shop-container {
  background: var(--lt-brown);
  display: grid;
  grid-template-areas: 'products-divider''shirts-imgbox' 'product-info';
}
.shirts-imgbox {
  background-image: url(../Images/tshirts.jpg);
  background-position: center;
  background-size: cover;
}

/* Start of Tablet Media Querys */

@media screen and (min-width:600px) {
  .product-shop-container {
    background: var(--lt-brown);
    display: grid;
    grid-template-areas: 'products-divider products-divider''shirts-imgbox product-info';
  }
}
